<div class="transfer-page">
  <div class="header">
    <h1>{{ isEditMode ? "Edit Beneficiary" : "New Beneficiary" }}</h1>
    <p>Please fill in the details below.</p>
  </div>

  <p-steps
    [model]="steps"
    [(activeIndex)]="activeIndex"
    [readonly]="false"
  ></p-steps>

  <p-card>
    <form [formGroup]="beneficiaryForm" (ngSubmit)="saveBeneficiary()">
      <p-splitter [panelSizes]="[35, 65]">
        <ng-template pTemplate="form">
          <div class="flex align-items-center h-full">
          <div class="instructions">
            <h2>{{ instructions[activeIndex].title }}</h2>
            <h4>{{ instructions[activeIndex].description }}</h4>
          </div>
        </div>
        </ng-template>
        <ng-template pTemplate>
          <div *ngIf="activeIndex === 0">
            <div class="step-content">
              <h3>Is this a domestic or international beneficiary?</h3>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="isInternational"
                  [value]="false"
                  formControlName="isInternational"
                ></p-radioButton>
                <label>Domestic</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="isInternational"
                  [value]="true"
                  formControlName="isInternational"
                ></p-radioButton>
                <label>International</label>
              </div>
            </div>
            <div class="buttons-div">
              <p-button
                label="Next"
                (click)="nextStep()"
                class="nextBtn"
                styleClass="nextButton w-full"
              ></p-button>
            </div>
          </div>

          <div *ngIf="activeIndex === 1">
            <div class="step-content">
              <div class="field mb-3">
                <label for="name">Name</label>
                <input
                  id="name"
                  type="text"
                  pInputText
                  formControlName="name"
                />
              </div>
              <div class="field mb-3">
                <label for="accountNumber">Account Number</label>
                <input
                  id="accountNumber"
                  type="text"
                  pInputText
                  formControlName="accountNumber"
                />
              </div>
              <div class="field mb-3">
                <label for="bankName">Bank Name</label>
                <input
                  id="bankName"
                  type="text"
                  pInputText
                  formControlName="bankName"
                />
              </div>
              <div class="field mb-3">
                <label for="accountCurrency">Account Currency</label>
                <p-dropdown
                  id="accountCurrency"
                  [options]="supportedCurrencies"
                  formControlName="accountCurrency"
                ></p-dropdown>
              </div>
            </div>
            <div class="buttons-div">
              <p-button
                label="Back"
                (onClick)="prevStep()"
                [style]="{
                  'background-color': '#273239',
                  'border-color': '#273239'
                }"
              ></p-button>
              <p-button
                label="Next"
                (click)="nextStep()"
                [disabled]="!isStepValid(1)"
                class="nextBtn"
                styleClass="nextButton w-full"
              ></p-button>
            </div>
          </div>

          <div *ngIf="activeIndex === 2">
            <div class="step-content">
              <div *ngIf="!beneficiaryForm.get('isInternational')?.value">
                <div class="field mb-3">
                  <label for="bankBranchName">Bank Branch Name</label>
                  <input
                    id="bankBranchName"
                    type="text"
                    pInputText
                    formControlName="bankBranchName"
                  />
                </div>
                <div class="field mb-3">
                  <label for="bankBranchCode">Bank Branch Code</label>
                  <input
                    id="bankBranchCode"
                    type="text"
                    pInputText
                    formControlName="bankBranchCode"
                  />
                </div>
              </div>
              <div *ngIf="beneficiaryForm.get('isInternational')?.value">
                <div class="field mb-3">
                  <label for="swiftCode">SWIFT Code</label>
                  <input
                    id="swiftCode"
                    type="text"
                    pInputText
                    formControlName="swiftCode"
                  />
                </div>
                <div class="field mb-3">
                  <label for="iban">IBAN</label>
                  <input
                    id="iban"
                    type="text"
                    pInputText
                    formControlName="iban"
                  />
                </div>
                <div class="field mb-3">
                  <label for="bankAddress">Bank Address</label>
                  <input
                    id="bankAddress"
                    type="text"
                    pInputText
                    formControlName="bankAddress"
                  />
                </div>
                <div class="field mb-3">
                  <label for="beneficiaryAddress">Beneficiary Address</label>
                  <input
                    id="beneficiaryAddress"
                    type="text"
                    pInputText
                    formControlName="beneficiaryAddress"
                  />
                </div>
                <div class="field mb-3">
                  <label for="beneficiaryCountry">Beneficiary Country</label>
                  <p-dropdown
                    id="beneficiaryCountry"
                    [options]="countries"
                    formControlName="beneficiaryCountry"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="buttons-div">
              <p-button
                label="Back"
                (onClick)="prevStep()"
                [style]="{
                  'background-color': '#273239',
                  'border-color': '#273239'
                }"
              ></p-button>
              <p-button
                label="Next"
                (click)="nextStep()"
                [disabled]="!isStepValid(2)"
                class="nextBtn"
                styleClass="nextButton w-full"
              ></p-button>
            </div>
          </div>

          <div *ngIf="activeIndex === 3">
            <div class="step-content">
              <div class="field mb-3">
                <label for="group">Group</label>
                <p-dropdown
                  id="group"
                  [options]="groups"
                  formControlName="group"
                ></p-dropdown>
              </div>
              <div class="field mb-3">
                <label for="purposeNickname">Purpose / Nickname</label>
                <input
                  id="purposeNickname"
                  type="text"
                  pInputText
                  formControlName="purposeNickname"
                />
              </div>
              <div
                class="field mb-3"
                *ngIf="beneficiaryForm.get('isInternational')?.value"
              >
                <label for="purposeOfPayment">Purpose of Payment</label>
                <input
                  id="purposeOfPayment"
                  type="text"
                  pInputText
                  formControlName="purposeOfPayment"
                />
              </div>
            </div>
            <div class="buttons-div">
              <p-button
                label="Back"
                (onClick)="prevStep()"
                [style]="{
                  'background-color': '#273239',
                  'border-color': '#273239'
                }"
              ></p-button>
              <p-button
                label="Next"
                (click)="nextStep()"
                [disabled]="!isStepValid(3)"
                class="nextBtn"
                styleClass="nextButton w-full"
              ></p-button>
            </div>
          </div>

          <div *ngIf="activeIndex === 4">
            <div class="step-content review-summary">
              <h4>Review Your Beneficiary Details</h4>
              <div class="summary-grid">
                <div class="summary-item">
                  <strong>Name:</strong>
                  <span>{{ beneficiaryForm.get("name")?.value }}</span>
                </div>
                <div class="summary-item">
                  <strong>Account Number:</strong>
                  <span>{{ beneficiaryForm.get("accountNumber")?.value }}</span>
                </div>
                <div class="summary-item">
                  <strong>Bank Name:</strong>
                  <span>{{ beneficiaryForm.get("bankName")?.value }}</span>
                </div>
                <div class="summary-item">
                  <strong>Account Currency:</strong>
                  <span>{{
                    beneficiaryForm.get("accountCurrency")?.value
                  }}</span>
                </div>
                <div class="summary-item">
                  <strong>Group:</strong>
                  <span>{{ beneficiaryForm.get("group")?.value }}</span>
                </div>
                <div class="summary-item">
                  <strong>Purpose/Nickname:</strong>
                  <span>{{
                    beneficiaryForm.get("purposeNickname")?.value
                  }}</span>
                </div>
                <ng-container
                  *ngIf="beneficiaryForm.get('isInternational')?.value"
                >
                  <div class="summary-item">
                    <strong>SWIFT Code:</strong>
                    <span>{{ beneficiaryForm.get("swiftCode")?.value }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>IBAN:</strong>
                    <span>{{ beneficiaryForm.get("iban")?.value }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>Bank Address:</strong>
                    <span>{{ beneficiaryForm.get("bankAddress")?.value }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>Beneficiary Address:</strong>
                    <span>{{
                      beneficiaryForm.get("beneficiaryAddress")?.value
                    }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>Beneficiary Country:</strong>
                    <span>{{
                      beneficiaryForm.get("beneficiaryCountry")?.value
                    }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>Purpose of Payment:</strong>
                    <span>{{
                      beneficiaryForm.get("purposeOfPayment")?.value
                    }}</span>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="!beneficiaryForm.get('isInternational')?.value"
                >
                  <div class="summary-item">
                    <strong>Bank Branch Name:</strong>
                    <span>{{
                      beneficiaryForm.get("bankBranchName")?.value
                    }}</span>
                  </div>
                  <div class="summary-item">
                    <strong>Bank Branch Code:</strong>
                    <span>{{
                      beneficiaryForm.get("bankBranchCode")?.value
                    }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="buttons-div">
              <p-button
                label="Back"
                (onClick)="prevStep()"
                [style]="{
                  'background-color': '#273239',
                  'border-color': '#273239'
                }"
              ></p-button>
              <p-button
                label="Save"
                (click)="saveBeneficiary()"
                [disabled]="beneficiaryForm.invalid"
                class="nextBtn"
                styleClass="nextButton w-full"
              ></p-button>
            </div>
          </div>
        </ng-template>
      </p-splitter>
    </form>
  </p-card>
</div>
