:host {

    display: block;
    padding: 1.5rem;
    background-color: #fff;
  }

  .form{
      background-color: var(--surface-card);
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

  ::ng-deep .p-splitter {
    background: transparent;
    border: none;
  }
  ::ng-deep .p-splitter-gutter {
    background-color: var(--surface-card) !important;
    pointer-events: none;
    cursor: default;
  }
  


    .p-inputtext, ::ng-deep .p-inputnumber-input, .p-dropdown {
    background-color: var(white) !important;
    width: 100%;
  }

      ::ng-deep .p-inputtext, .p-inputnumber, .p-dropdown {
      background-color: var(--white) !important;
      width: 100% !important;
    }


    ::ng-deep .p-button {
    width: 100%;
    justify-content: center;
  }

::ng-deep .p-splitter {
  background: transparent !important;
  border: none !important;

}
::ng-deep .p-splitter-gutter {
  background-color: var(--surface-card);
  pointer-events: none;
  cursor: default;
}

.field {
  width: 100%;
  margin-bottom: 1.5rem;
  label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.centered-image {
  display: flex;
  justify-content: center;
}

.select-button {
  width: auto !important;
  min-width: 100px !important;
}


.utility-item {
    border: 1px solid #e9ecef;
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}
