<p-toast></p-toast>
<div class="transfer-page">
  <div class="header">
    <h1>QR Code Payment</h1>
    <p>Generate a QR code to receive payments.</p>
  </div>

  <p-card>
    <ng-template></ng-template>
    <p-splitter styleClass="mb-5" [panelSizes]="[35, 65]">
      <ng-template pTemplate="form">
        <div class="flex align-items-center h-full">
          <div class="instructions">
            <h2>Instructions for QR Code Payment</h2>
            <h4>Follow these steps to generate a QR code for payment:</h4>
            <ul>
              <li>
                <strong>Select Account:</strong> Choose the account for the
                transaction.
              </li>
              <li>
                <strong>Select Transfer Type:</strong> Choose between Domestic
                and International transfer.
              </li>
              <li>
                <strong>Generate QR Code:</strong> Click the "Generate QR Code"
                button to create a unique QR code for this payment.
              </li>
              <li>
                <strong>Scan and Pay:</strong> The recipient can scan the
                generated QR code with their device to complete the payment.
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="flex align-items-center h-full" style="width: 100%">
          <div class="col-12 flex">
            <div class="p-fluid">
              <div class="field mb-3">
                <label for="account">Account</label>
                <p-dropdown
                  id="account"
                  [options]="accounts"
                  [(ngModel)]="selectedAccount"
                  optionLabel="number"
                  placeholder="Select an Account"
                  name="account"
                ></p-dropdown>
              </div>
              <div class="field mb-3">
                <label for="transferType">Transfer Type</label>
                <p-dropdown
                  id="transferType"
                  [options]="['Domestic', 'International']"
                  [(ngModel)]="transferType"
                  name="transferType"
                ></p-dropdown>
              </div>
              <div class="flex mt-3">
                <p-button
                  label="Generate QR Code"
                  (click)="generateQrCode()"
                  icon="pi pi-qrcode"
                  class="p-element button-login p-button p-component"
                  [disabled]="!selectedAccount || !transferType"
                ></p-button>
              </div>

              <div *ngIf="qrdata" class="qr-code-container">
                <qrcode [qrdata]="qrdata" #qrCodeEl></qrcode>
                <p-button
                  label="Share QR Code"
                  icon="pi pi-share-alt"
                  (click)="shareQrCode(qrCodeEl)"
                  [disabled]="!qrdata"
                  styleClass="p-button-secondary mt-2"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
