<div class="loan-application">
  <div class="header">
    <h1>Loan Application</h1>
    <p>Complete the following steps to apply for a loan.</p>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-steps
    [model]="instructions"
    [(activeIndex)]="activeIndex"
    [readonly]="false"
  ></p-steps>
  <p-card>
    <p-splitter styleClass="mb-5" [panelSizes]="[35, 65]">
      <ng-template pTemplate="form">
        <div class="flex h-full">
          <div class="instructions">
            <h2>{{ instructions[activeIndex].title }}</h2>
            <h4>{{ instructions[activeIndex].description }}</h4>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="flex align-items-center h-full" style="width: 100%">
          <div class="col-12 flex">
            <form
              [formGroup]="loanApplicationForm"
              (ngSubmit)="onSubmit()"
              class="transfer-form"
            >
              <div [ngSwitch]="activeIndex">
                <div *ngSwitchCase="0">
                  <div class="p-fluid">
                    <div class="field">
                      <label for="loanType" class="bold-text">Loan Type</label>
                      <div class="col-12">
                        <p-dropdown
                          id="loanType"
                          [options]="loanTypes"
                          formControlName="loanType"
                          placeholder="Select a loan type"
                          appendTo="body"
                        ></p-dropdown>
                        <small
                          class="p-error"
                          *ngIf="
                            loanApplicationForm.get('loanType')!.invalid &&
                            loanApplicationForm.get('loanType')!.touched
                          "
                          >Loan type is required.</small
                        >
                      </div>
                    </div>
                    <div class="field">
                      <label for="program" class="bold-text">Program</label>
                      <div class="col-12">
                        <p-dropdown
                          id="program"
                          [options]="programs"
                          formControlName="program"
                          placeholder="Select a program"
                          appendTo="body"
                        ></p-dropdown>
                        <small
                          class="p-error"
                          *ngIf="
                            loanApplicationForm.get('program')!.invalid &&
                            loanApplicationForm.get('program')!.touched
                          "
                          >Program is required.</small
                        >
                      </div>
                    </div>
                    <div class="field">
                      <label for="amount" class="bold-text">Amount</label>
                      <div class="col-12">
                        <p-inputGroup>
                          <p-inputGroupAddon>{{
                            loanApplicationForm.get("currency")!.value || "USD"
                          }}</p-inputGroupAddon>
                          <p-inputNumber
                            id="amount"
                            formControlName="amount"
                            placeholder="Enter amount"
                          ></p-inputNumber>
                        </p-inputGroup>
                        <small
                          class="p-error"
                          *ngIf="
                            loanApplicationForm.get('amount')!.invalid &&
                            loanApplicationForm.get('amount')!.touched
                          "
                          >Amount is required.</small
                        >
                      </div>
                    </div>
                    <div class="field">
                      <label for="currency" class="bold-text">Currency</label>
                      <div class="col-12">
                        <p-dropdown
                          id="currency"
                          [options]="currencies"
                          formControlName="currency"
                          placeholder="Select a currency"
                          appendTo="body"
                        ></p-dropdown>
                        <small
                          class="p-error"
                          *ngIf="
                            loanApplicationForm.get('currency')!.invalid &&
                            loanApplicationForm.get('currency')!.touched
                          "
                          >Currency is required.</small
                        >
                      </div>
                    </div>
                    <div class="field">
                      <label for="tenor" class="field">Tenor</label>
                      <div class="col-12">
                        <p-dropdown
                          id="tenor"
                          [options]="tenors"
                          formControlName="tenor"
                          placeholder="Select a tenor"
                          appendTo="body"
                        ></p-dropdown>
                        <small
                          class="p-error"
                          *ngIf="
                            loanApplicationForm.get('tenor')!.invalid &&
                            loanApplicationForm.get('tenor')!.touched
                          "
                          >Tenor is required.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="1">
                  <div class="upload-card">
                    <p-fileUpload
                      #fu
                      name="documents[]"
                      mode="advanced"
                      accept=".pdf,.jpg,.jpeg,.png"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      [auto]="false"
                      (onSelect)="
                        uploadedFiles = $event.files;
                        loanApplicationForm
                          .get('documents')
                          ?.setValue($event.files)
                      "
                      (onClear)="
                        uploadedFiles = [];
                        loanApplicationForm.get('documents')?.reset([])
                      "
                      styleClass="upload-bar w-full"
                    >
                      <span class="text-600 text-sm">
                        Please scan and upload your company’s latest financial
                        statement (single image or PDF: jpg, jpeg, png, or pdf).
                      </span>
                      <ng-template pTemplate="header">
                        <div
                          class="w-full flex justify-content-between align-items-center"
                        >
                          <p-button
                            label="Upload +"
                            styleClass="p-button-outlined scan-btn"
                            (onClick)="fu.choose()"
                          ></p-button>
                          <i
                            class="pi pi-info-circle"
                            style="font-size: 1.5rem; cursor: pointer"
                            pTooltip="Please upload a clear image of your National ID."
                            tooltipPosition="top"
                          ></i>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="content">
                        <div
                          class="border-top-1 border-300 mt-3"
                          *ngIf="
                            uploadedFiles && uploadedFiles.length;
                            else dropHint
                          "
                        >
                          <div
                            class="flex align-items-center justify-content-between w-full py-3 px-2"
                            *ngFor="let file of uploadedFiles"
                          >
                            <div class="flex align-items-center gap-3">
                              <button
                                type="button"
                                class="p-button p-button-square p-button-text p-button-danger p-0"
                                (click)="fu.remove($event, file)"
                                aria-label="Remove"
                              >
                                <i class="pi pi-times"></i>
                              </button>
                              <div class="flex align-items-center gap-3">
                                <i
                                  class="pi"
                                  [ngClass]="{
                                    'pi-image': file.type?.startsWith('image/'),
                                    'pi-file-pdf':
                                      file.type === 'application/pdf',
                                    'pi-file': !file.type
                                  }"
                                ></i>
                                <div class="text-900">
                                  <div class="font-medium line-height-3">
                                    {{ file.name || "Selected file" }}
                                  </div>
                                  <small class="text-600">
                                    {{
                                      (file.size || 0) / 1024 | number : "1.0-0"
                                    }}
                                    KB
                                  </small>
                                </div>
                              </div>
                            </div>

                            <div
                              class="w-8rem h-4rem border-1 border-200 border-round flex align-items-center justify-content-center text-500"
                            >
                              Preview
                            </div>
                          </div>
                        </div>
                        <ng-template #dropHint> </ng-template>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                </div>
                <div *ngSwitchCase="2">
                  <div
                    class="flex align-items-center justify-content-center w-full"
                  >
                    <div class="text-center">
                      <i
                        class="pi pi-check-circle"
                        style="font-size: 3rem; color: #22c55e"
                      ></i>
                      <p class="mt-3">
                        Congratulations! Your request has been initially
                        approved for Platinum Card
                      </p>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="3">
                  <div
                    class="p-grid paperwork-options"
                    *ngIf="!paperworkChoice"
                  >
                    <div class="p-col-12 p-md-6">
                      <div
                        class="card-option"
                        (click)="selectPaperworkOption('branch')"
                        [class.selected]="paperworkChoice === 'branch'"
                      >
                        <img src="assets/BranchVisit.png" alt="Branch Visit" />
                        <div class="card-content">
                          <p>Branch Visit</p>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6">
                      <div
                        class="card-option"
                        (click)="selectPaperworkOption('home')"
                        [class.selected]="paperworkChoice === 'home'"
                      >
                        <img src="assets/HomeVisit.png" alt="Home Visit" />
                        <div class="card-content">
                          <p>Home Visit</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="paperworkChoice === 'branch'">
                    <p-card header="Branch Visit">
                      <div class="p-fluid">
                        <div class="field">
                          <label for="paperworkBranch">Branch</label>
                          <p-dropdown
                            id="paperworkBranch"
                            [options]="branches"
                            formControlName="paperworkBranch"
                            placeholder="Select a branch"
                            appendTo="body"
                          ></p-dropdown>
                        </div>
                      </div>
                    </p-card>
                  </div>

                  <div *ngIf="paperworkChoice === 'home'">
                    <p-card header="Home Visit">
                      <div class="p-fluid">
                        <div class="field">
                          <label for="visitAddress" class="bold-text"
                            >Visit Address</label
                          >
                          <input
                            id="visitAddress"
                            type="text"
                            pInputText
                            formControlName="visitAddress"
                            placeholder="Enter your address"
                          />
                        </div>
                        <div class="field">
                          <label for="visitDate">Visit Date</label>
                          <p-calendar
                            id="visitDate"
                            formControlName="visitDate"
                            appendTo="body"
                            placeholder="Select a date"
                          ></p-calendar>
                        </div>
                      </div>
                    </p-card>
                  </div>
                </div>
                <div *ngSwitchCase="4">
                  <h3>Review Your Application</h3>
                  <div class="p-fluid">
                    <div class="p-grid">
                      <div class="p-col-12 p-md-6">
                        <div class="field">
                          <h4>Loan Type:</h4>
                          <span>{{
                            loanApplicationForm.get("loanType")!.value
                          }}</span>
                        </div>
                      </div>
                      <div class="p-col-12 p-md-6">
                        <div class="field">
                          <h4>Program:</h4>
                          <span>{{
                            loanApplicationForm.get("program")!.value
                          }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="p-grid">
                      <div class="p-col-12 p-md-4">
                        <div class="flex field">
                          <h4>Amount:</h4>
                          <span>{{
                            loanApplicationForm.get("amount")!.value
                              | currency
                                : loanApplicationForm.get("currency")!.value
                          }}</span>
                        </div>
                      </div>
                      <div class="p-col-12 p-md-4">
                        <div class="flex field">
                          <h4>Currency:</h4>
                          <span>{{
                            loanApplicationForm.get("currency")!.value
                          }}</span>
                        </div>
                      </div>
                      <div class="p-col-12 p-md-4">
                        <div class="flex field">
                          <h4>Tenor:</h4>
                          <span
                            >{{
                              loanApplicationForm.get("tenor")!.value
                            }}
                            months</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex field mb-3">
                    <p-checkbox
                      formControlName="agreeToTerms"
                      binary="true"
                      inputId="agreeToTerms"
                    >
                    </p-checkbox>
                    <label for="agreeToTerms"
                      >I agree to the
                      <a (click)="showTermsDialog()"
                        >terms and conditions</a
                      ></label
                    >
                  </div>
                </div>
              </div>
              <div class="buttons-div">
                <p-button
                  label="Back"
                  (onClick)="prevStep()"
                  [disabled]="activeIndex === 0"
                  [style]="{
                    'background-color': '#273239',
                    'border-color': '#273239'
                  }"
                ></p-button>
                <p-button
                  label="Next"
                  (onClick)="nextStep()"
                  [disabled]="!isStepValid()"
                  class="nextBtn"
                  styleClass="nextAction w-full"
                  *ngIf="activeIndex !== 4"
                ></p-button>
                <p-button
                  label="Submit Application"
                  type="submit"
                  class="nextBtn"
                  styleClass="nextAction w-full"
                  [disabled]="!isStepValid()"
                  *ngIf="activeIndex === 4"
                ></p-button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
<p-dialog
  header="Terms and Conditions"
  [(visible)]="displayTermsDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div>
    <strong>1. Introduction</strong>
    <p>
      These Terms and Conditions govern your loan application with our bank. By
      submitting your application, you agree to be bound by these terms. Please
      read them carefully.
    </p>

    <strong>2. Loan Application</strong>
    <p>
      Your loan application is an offer to borrow money from us. We are not
      obligated to lend you money until we have approved your application and
      you have signed a final loan agreement.
    </p>

    <strong>3. Information You Provide</strong>
    <p>
      You agree that all information you provide in your loan application is
      true, accurate, and complete. You authorize us to verify this information
      from any source we deem appropriate, including credit bureaus.
    </p>

    <strong>4. Credit Check</strong>
    <p>
      By submitting your application, you authorize us to obtain a copy of your
      credit report. This will help us to assess your creditworthiness and to
      make a decision on your application.
    </p>

    <strong>5. Interest Rate and Fees</strong>
    <p>
      The interest rate and any applicable fees for your loan will be disclosed
      to you in the final loan agreement. The interest rate may be fixed or
      variable, as described in the loan agreement.
    </p>

    <strong>6. Repayment</strong>
    <p>
      You agree to repay the loan in accordance with the terms of the final loan
      agreement. This includes making regular payments of principal and
      interest.
    </p>

    <strong>7. Default</strong>
    <p>
      If you fail to make your payments on time, you will be in default. If you
      default on your loan, we may take legal action to collect the money you
      owe.
    </p>

    <strong>8. Use of Loan Funds</strong>
    <p>
      You agree to use the loan funds for the purpose stated in your
      application.
    </p>

    <strong>9. Governing Law</strong>
    <p>
      These Terms and Conditions are governed by the laws of the state in which
      our bank is located.
    </p>

    <strong>10. Contact Us</strong>
    <p>
      If you have any questions about these Terms and Conditions, please contact
      us.
    </p>
  </div>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
