<div class="transfer-page">
  <div class="header">
    <h1>Loan Application</h1>
    <p>Complete the following steps to apply for a loan.</p>
  </div>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-steps
    [model]="instructions"
    [(activeIndex)]="activeIndex"
    [readonly]="false"
  ></p-steps>
  <p-card>
    <p-splitter styleClass="mb-5" [panelSizes]="[35, 65]">
      <ng-template pTemplate="form">
        <div class="flex align-items-center h-full">
          <div class="instructions">
            <h2>{{ instructions[activeIndex].title }}</h2>
            <h4>{{ instructions[activeIndex].description }}</h4>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="flex align-items-center h-full" style="width: 100%">
          <div class="col-12 flex">
            <form
              [formGroup]="loanApplicationForm"
              (ngSubmit)="onSubmit()"
              class="transfer-form"
            >
              <div *ngIf="activeIndex === 0">
                <div class="p-fluid">
                  <div class="field mb-3">
                    <label for="loanType" class="col-12 md:col-4"
                      >Loan Type</label
                    >
                    <div class="col-12 md:col-8">
                      <p-dropdown
                        id="loanType"
                        [options]="loanTypes"
                        formControlName="loanType"
                        placeholder="Select a loan type"
                      ></p-dropdown>
                      <small
                        class="p-error"
                        *ngIf="
                          loanApplicationForm.get('loanType')!.invalid &&
                          loanApplicationForm.get('loanType')!.touched
                        "
                        >Loan type is required.</small
                      >
                    </div>
                  </div>
                  <div class="field mb-3">
                    <label for="program" class="col-12 md:col-4">Program</label>
                    <div class="col-12 md:col-8">
                      <p-dropdown
                        id="program"
                        [options]="programs"
                        formControlName="program"
                        placeholder="Select a program"
                      ></p-dropdown>
                      <small
                        class="p-error"
                        *ngIf="
                          loanApplicationForm.get('program')!.invalid &&
                          loanApplicationForm.get('program')!.touched
                        "
                        >Program is required.</small
                      >
                    </div>
                  </div>
                  <div class="field mb-3">
                    <label for="amount" class="col-12 md:col-4">Amount</label>
                    <div class="col-12 md:col-8">
                      <p-inputGroup>
                        <p-inputGroupAddon>{{
                          loanApplicationForm.get("currency")!.value || "USD"
                        }}</p-inputGroupAddon>
                        <p-inputNumber
                          id="amount"
                          formControlName="amount"
                          placeholder="Enter amount"
                        ></p-inputNumber>
                      </p-inputGroup>
                      <small
                        class="p-error"
                        *ngIf="
                          loanApplicationForm.get('amount')!.invalid &&
                          loanApplicationForm.get('amount')!.touched
                        "
                        >Amount is required.</small
                      >
                    </div>
                  </div>
                  <div class="field mb-3">
                    <label for="currency" class="col-12 md:col-4"
                      >Currency</label
                    >
                    <div class="col-12 md:col-8">
                      <p-dropdown
                        id="currency"
                        [options]="currencies"
                        formControlName="currency"
                        placeholder="Select a currency"
                      ></p-dropdown>
                      <small
                        class="p-error"
                        *ngIf="
                          loanApplicationForm.get('currency')!.invalid &&
                          loanApplicationForm.get('currency')!.touched
                        "
                        >Currency is required.</small
                      >
                    </div>
                  </div>
                  <div class="field mb-3">
                    <label for="tenor" class="col-12 md:col-4">Tenor</label>
                    <div class="col-12 md:col-8">
                      <p-dropdown
                        id="tenor"
                        [options]="tenors"
                        formControlName="tenor"
                        placeholder="Select a tenor"
                        appendTo="body"
                      ></p-dropdown>
                      <small
                        class="p-error"
                        *ngIf="
                          loanApplicationForm.get('tenor')!.invalid &&
                          loanApplicationForm.get('tenor')!.touched
                        "
                        >Tenor is required.</small
                      >
                    </div>
                  </div>
                </div>
                <div class="buttons-div">
                  <p-button
                    label="Next"
                    (click)="nextStep()"
                    [disabled]="!isStepValid()"
                    class="nextBtn"
                    styleClass="nextButton w-full"
                  ></p-button>
                </div>
              </div>

              <div *ngIf="activeIndex === 1">
                <p-fileUpload
                  name="documents[]"
                  (onUpload)="onUpload($event)"
                  [multiple]="true"
                  accept=".pdf,.jpg,.png"
                >
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                      </li>
                    </ul>
                    <div class="p-text-center p-mt-3">
                      <i class="pi pi-upload p-mr-2"></i>
                      <span>Drag and drop files here or click to browse.</span>
                    </div>
                  </ng-template>
                </p-fileUpload>
                <div class="buttons-div">
                  <p-button
                    label="Back"
                    (onClick)="prevStep()"
                    [style]="{
                      'background-color': '#273239',
                      'border-color': '#273239'
                    }"
                  ></p-button>
                  <p-button
                    label="Next"
                    (click)="nextStep()"
                    [disabled]="!isStepValid()"
                    class="nextBtn"
                    styleClass="nextButton w-full"
                  ></p-button>
                </div>
              </div>

              <div *ngIf="activeIndex === 2">
                <div class="p-fluid">
                  <div class="field mb-3">
                    <p>
                      Congratulations! Your request has been initially approved
                      for Platinum Card
                    </p>
                  </div>
                </div>
                <div class="buttons-div">
                  <p-button
                    label="Back"
                    (onClick)="prevStep()"
                    [style]="{
                      'background-color': '#273239',
                      'border-color': '#273239'
                    }"
                  ></p-button>
                  <p-button
                    label="Next"
                    (click)="nextStep()"
                    class="nextBtn"
                    styleClass="nextButton w-full"
                  ></p-button>
                </div>
              </div>

              <div *ngIf="activeIndex === 3">
                <div class="p-grid paperwork-options" *ngIf="!paperworkChoice">
                  <div class="p-col-12 p-md-6">
                    <div
                      class="card-option"
                      (click)="selectPaperworkOption('branch')"
                      [class.selected]="paperworkChoice === 'branch'"
                    >
                      <img src="assets/BranchVisit.png" alt="Branch Visit" />
                      <div class="card-content">
                        <p>Branch Visit</p>
                      </div>
                    </div>
                  </div>
                  <div class="p-col-12 p-md-6">
                    <div
                      class="card-option"
                      (click)="selectPaperworkOption('home')"
                      [class.selected]="paperworkChoice === 'home'"
                    >
                      <img src="assets/HomeVisit.png" alt="Home Visit" />
                      <div class="card-content">
                        <p>Home Visit</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="paperworkChoice === 'branch'">
                  <p-card header="Branch Visit">
                    <div class="p-fluid">
                      <div class="field mb-3">
                        <label for="paperworkBranch">Branch</label>
                        <p-dropdown
                          id="paperworkBranch"
                          [options]="branches"
                          formControlName="paperworkBranch"
                          placeholder="Select a branch"
                          appendTo="body"
                        ></p-dropdown>
                      </div>
                    </div>
                  </p-card>
                </div>

                <div *ngIf="paperworkChoice === 'home'">
                  <p-card header="Home Visit">
                    <div class="p-fluid">
                      <div class="field mb-3">
                        <label for="visitAddress">Visit Address</label>
                        <input
                          id="visitAddress"
                          type="text"
                          pInputText
                          formControlName="visitAddress"
                          placeholder="Enter your address"
                        />
                      </div>
                      <div class="field mb-3">
                        <label for="visitDate">Visit Date</label>
                        <p-calendar
                          id="visitDate"
                          formControlName="visitDate"
                          appendTo="body"
                          placeholder="Select a date"
                        ></p-calendar>
                      </div>
                    </div>
                  </p-card>
                </div>
                <div class="buttons-div">
                  <p-button
                    label="Back"
                    (onClick)="prevStep()"
                    [style]="{
                      'background-color': '#273239',
                      'border-color': '#273239'
                    }"
                  ></p-button>
                  <p-button
                    label="Next"
                    (click)="nextStep()"
                    [disabled]="!isStepValid()"
                    class="nextBtn"
                    styleClass="nextButton w-full"
                  ></p-button>
                </div>
              </div>

              <div *ngIf="activeIndex === 4">
                <h3>Review Your Application</h3>
                <div class="p-fluid">
                  <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                      <div class="field mb-3">
                        <label>Loan Type:</label>
                        <span>{{
                          loanApplicationForm.get("loanType")!.value
                        }}</span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6">
                      <div class="field mb-3">
                        <label>Program:</label>
                        <span>{{
                          loanApplicationForm.get("program")!.value
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12 p-md-4">
                      <div class="field mb-3">
                        <label>Amount:</label>
                        <span>{{
                          loanApplicationForm.get("amount")!.value
                            | currency
                              : loanApplicationForm.get("currency")!.value
                        }}</span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-4">
                      <div class="field mb-3">
                        <label>Currency:</label>
                        <span>{{
                          loanApplicationForm.get("currency")!.value
                        }}</span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-4">
                      <div class="field mb-3">
                        <label>Tenor:</label>
                        <span
                          >{{
                            loanApplicationForm.get("tenor")!.value
                          }}
                          months</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field-checkbox" style="padding-bottom: 1rem">
                  <p-checkbox
                    formControlName="agreeToTerms"
                    binary="true"
                    inputId="agreeToTerms"
                  >
                  </p-checkbox>
                  <label for="agreeToTerms"
                    >I agree to the
                    <a href="#" target="_blank">terms and conditions</a></label
                  >
                </div>
                <div class="buttons-div">
                  <p-button
                    label="Back"
                    (onClick)="prevStep()"
                    [style]="{
                      'background-color': '#273239',
                      'border-color': '#273239'
                    }"
                  ></p-button>
                  <p-button
                    label="Submit Application"
                    type="submit"
                    class="nextBtn"
                    styleClass="nextButton w-full"
                  ></p-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>