:host {

    display: block;
    padding: 1.5rem;
    background-color: #fff;
  }

  ::ng-deep .p-button:not(:disabled):hover{
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
}
