<p-toast></p-toast>
<div class="flex align-items-center h-full" style="width: 100%">
      <div class="col-12">
        <form
          class="transfer-form"
          [formGroup]="transferForm"
          (ngSubmit)="initiateTransfer()"
        >
          <div class="p-fluid">
            <div class="field mb-3">
              <label for="fromAccount">From Account</label>
              <p-dropdown
                inputId="fromAccount"
                [options]="accounts"
                formControlName="fromAccount"
                placeholder="Select an account"
                optionLabel="number"
              >
              </p-dropdown>
            </div>

            <div class="field mb-3">
              <label for="recipientAccount">Recipient Account Number</label>
              <input
                pInputText
                id="recipientAccount"
                formControlName="recipientAccount"
                placeholder="Enter recipient account number"
              />
            </div>

            <div class="field mb-3">
              <label for="amount">Amount</label>
              <p-inputNumber
                inputId="amount"
                formControlName="amount"
                mode="currency"
                [currency]="transferForm.get('currency')?.value || 'USD'"
                locale="en-US"
              >
              </p-inputNumber>
            </div>

            <div class="field mb-3">
              <label for="currency">Currency</label>
              <p-dropdown
                inputId="currency"
                [options]="supportedCurrencies"
                formControlName="currency"
                placeholder="Select a currency"
              >
              </p-dropdown>
            </div>

            <div class="field mb-3">
              <label for="description">Description</label>
              <input
                pInputText
                id="description"
                formControlName="description"
                placeholder="Optional: Add a description"
              />
            </div>
          </div>

          <div class="buttons-div">
            <p-button
              label="Review Transfer"
              type="submit"
              class="ReviewBtn"
              styleClass="nextAction w-full"
              [disabled]="transferForm.invalid"
            >
            </p-button>
          </div>
        </form>
      </div>
    </div>