<p-toast></p-toast>
<div class="transfer-page">
  <div class="header">
    <h1>International Transfer</h1>
    <p>Transfer funds to an account in another country.</p>
  </div>

  <p-card>
    <ng-template pTemplate="title">New International Transfer</ng-template>
    <ng-template pTemplate="subtitle"
      >Please fill in the details below.</ng-template
    >
    <ng-template pTemplate="form">
      <div class="flex align-items-center justify-content-center h-full"></div>
    </ng-template>
    <ng-template pTemplate>
      <div class="flex align-items-center justify-content-center h-full">
        <div class="col-12 flex justify-content-center">
          <form
            class="transfer-form"
            [formGroup]="transferForm"
            (ngSubmit)="initiateTransfer()"
          >
            <div class="p-fluid">
              <div class="field mb-3">
                <label for="fromAccount" class="col-12 md:col-4"
                  >Your Account Number</label
                >
                <div class="col-12 md:col-8">
                  <p-dropdown
                    inputId="fromAccount"
                    [options]="accounts"
                    formControlName="fromAccount"
                    placeholder="Select an account"
                    optionLabel="number"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field mb-3">
                <label for="beneficiaryName" class="col-12 md:col-4"
                  >Beneficiary's Full Name</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="beneficiaryName"
                    formControlName="beneficiaryName"
                    placeholder="Enter beneficiary's full name"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="beneficiaryAddress" class="col-12 md:col-4"
                  >Beneficiary's Postal Address</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="beneficiaryAddress"
                    formControlName="beneficiaryAddress"
                    placeholder="Enter beneficiary's postal address"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="country" class="col-12 md:col-4">Country</label>
                <div class="col-12 md:col-8">
                  <p-dropdown
                    inputId="country"
                    [options]="countries"
                    formControlName="country"
                    placeholder="Select a country"
                    [showClear]="true"
                    [filter]="true"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div
                class="field mb-3"
                *ngIf="
                  transferForm.get('country')?.value === 'United Kingdom' ||
                  transferForm.get('country')?.value === 'Ireland'
                "
              >
                <label for="sortCode" class="col-12 md:col-4">Sort Code</label>
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="sortCode"
                    formControlName="sortCode"
                    placeholder="Enter sort code (e.g., 12-34-56)"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="toAccount" class="col-12 md:col-4"
                  >Beneficiary's Account Number</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="toAccount"
                    formControlName="toAccount"
                    placeholder="Enter account number"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="iban" class="col-12 md:col-4">IBAN</label>
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="iban"
                    formControlName="iban"
                    placeholder="Enter IBAN"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="bankName" class="col-12 md:col-4">Bank Name</label>
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="bankName"
                    formControlName="bankName"
                    placeholder="Enter bank name"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="bankAddress" class="col-12 md:col-4"
                  >Bank Address</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="bankAddress"
                    formControlName="bankAddress"
                    placeholder="Enter bank address"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="swiftBic" class="col-12 md:col-4"
                  >SWIFT/BIC Code</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="swiftBic"
                    formControlName="swiftBic"
                    placeholder="Enter SWIFT/BIC code"
                  />
                </div>
              </div>

              <div class="field mb-3">
                <label for="amount" class="col-12 md:col-4">Amount</label>
                <div class="col-12 md:col-8">
                  <p-inputNumber
                    inputId="amount"
                    formControlName="amount"
                    mode="currency"
                    [currency]="transferForm.get('currency')?.value || 'USD'"
                    locale="en-US"
                  >
                  </p-inputNumber>
                </div>
              </div>
              <div class="field mb-3">
                <label for="currency" class="col-12 md:col-4">Currency</label>
                <div class="col-12 md:col-8">
                  <p-dropdown
                    inputId="currency"
                    [options]="supportedCurrencies"
                    formControlName="currency"
                    placeholder="Select a currency"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field mb-3">
                <label for="toCurrency" class="col-12 md:col-4"
                  >Recipient's Currency</label
                >
                <div class="col-12 md:col-8">
                  <p-dropdown
                    inputId="toCurrency"
                    [options]="supportedCurrencies"
                    formControlName="toCurrency"
                    placeholder="Select a currency"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field mb-3">
                <label for="purpose" class="col-12 md:col-4"
                  >Purpose of Payment</label
                >
                <div class="col-12 md:col-8">
                  <input
                    pInputText
                    id="purpose"
                    formControlName="purpose"
                    placeholder="Enter purpose of payment"
                  />
                </div>
              </div>
            </div>

            <div class="flex justify-content-center mt-3">
              <p-button
                label="Review Transfer"
                type="submit"
                icon="pi pi-arrow-right"
                [disabled]="transferForm.invalid"
              >
              </p-button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
