:host {
  display: block;
  padding: 1.5rem;
  background-color: #fff;
}

.p-select:not(.p-disabled).p-focus{
  border-color: var(--primary-color);
}

#dashboardPage ::ng-deep .p-select-option.p-select-option-selected.p-focus,#dashboardPage ::ng-deep .p-select-option.p-select-option-selected
{
  border-color: #fff !important;
  background-color: var(--surface-card) !important;
}

.dashboard-page {
  .dashboard-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;


    .p-field {
      margin-bottom: 0; /* Remove margin-bottom from the dropdown field */
    }
  }

  .dashboard-analytics-reporting {
    margin-top: 2rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr)); /* Two columns, min width 550px */
      gap: 2rem; /* Space between cards */
    }

    

    .p-card {
      height: 100%;
    }

    .p-fluid .p-field {
      margin-bottom: 1rem;
    }

    .p-button {
      width: 100%;
    }
  }

  
}
