:host {
  display: block;
  padding: 1.5rem;
  background-color: #fff;
}

.p-select:not(.p-disabled).p-focus{
  border-color: var(--primary-color);
}

#dashboardPage ::ng-deep .p-select-option.p-select-option-selected.p-focus,#dashboardPage ::ng-deep .p-select-option.p-select-option-selected
{
  border-color: #fff !important;
  background-color: var(--surface-card) !important;
  color: var(--text-color) !important;
}

.dashboard-page {
  .dashboard-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .p-field {
      display: flex;
      align-items: center;
    }

    .p-field label {
      padding: 0.5rem;
    }
  }

  .dashboard-analytics-reporting {
    margin-top: 2rem;

    .p-fluid .p-field {
      margin-bottom: 1rem;
    }

  }

      p {
        font-size: 1.1rem;
        color: #7f8c8d;
      }

      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #2c3e50;
      }
  }

  .drag-over {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  [pDraggable] {
    transition: transform 0.2s ease-in-out;
  }

  ::ng-deep .p-card-relative {
    position: relative;
  }
  
  .remove-widget-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-has-submenu > .p-menuitem-link {
    flex-direction: row-reverse;
  }


.p-button:not(:disabled):hover{
background-color: transparent !important;
border-color: transparent !important;
color: var(--p-button-text-danger-color) !important;
}


::ng-deep .widget-container{
  width: 48% !important;
  height: fit-content !important;
}

.nextAction{
  justify-content: center !important;
}


