<p-toast></p-toast>
<div class="transfer-page">
  <div class="header">
    <h1>Intra-Account Transfer</h1>
    <p>
      Transfer funds to another account within the same bank under the same
      user.
    </p>
  </div>

  <p-card>
    <p-splitter styleClass="mb-5" [panelSizes]="[35, 65]">
      <ng-template pTemplate="form">
        <div class="flex h-full">
          <div class="instructions">
            <h2>Instructions for Intra-Account Transfer</h2>
            <h4>
              Follow these steps to complete a transfer between your own
              accounts:
            </h4>
            <ul>
              <li>
                <strong>Select From Account:</strong> Choose the account from
                which you want to transfer funds.
              </li>
              <li>
                <strong>Select To Account:</strong> Choose the account to which
                you want to transfer funds.
              </li>
              <li>
                <strong>Enter Amount and Currency:</strong> Specify the amount
                you wish to transfer and select the currency.
              </li>
              <li>
                <strong>Review and Confirm:</strong> Click "Review Transfer" to
                verify details, then confirm.
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="flex align-items-center h-full" style="width: 100%">
          <div class="col-12">
            <form
              class="transfer-form"
              [formGroup]="transferForm"
              (ngSubmit)="initiateTransfer()"
            >
              <div class="p-fluid">
                <div class="field mb-3">
                  <label for="fromAccount">From Account</label>
                  <p-dropdown
                    inputId="fromAccount"
                    [options]="accounts"
                    formControlName="fromAccount"
                    placeholder="Select an account"
                    optionLabel="number"
                  >
                  </p-dropdown>
                </div>

                <div class="field mb-3">
                  <label for="toAccount">To Account</label>
                  <p-dropdown
                    inputId="toAccount"
                    [options]="accounts"
                    formControlName="toAccount"
                    placeholder="Select an account"
                    optionLabel="number"
                  >
                  </p-dropdown>
                </div>

                <div class="field mb-3">
                  <label for="amount">Amount</label>
                  <p-inputNumber
                    inputId="amount"
                    formControlName="amount"
                    mode="currency"
                    [currency]="transferForm.get('currency')?.value || 'USD'"
                    locale="en-US"
                  >
                  </p-inputNumber>
                </div>

                <div class="field mb-3">
                  <label for="currency">Currency</label>
                  <p-dropdown
                    inputId="currency"
                    [options]="supportedCurrencies"
                    formControlName="currency"
                    placeholder="Select a currency"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="buttons-div">
                <p-button
                  label="Review Transfer"
                  type="submit"
                  class="ReviewBtn"
                  styleClass="nextAction w-full"
                  [disabled]="transferForm.invalid"
                >
                </p-button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
